body {
  margin: 0;
}
.catalogGames {
  margin-top: 7px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px;
  padding: 12px 20px;
  border-radius: 8px;
}
.catalogGames__top-img {
  width: 36px;
  height: 36px;
  background-image: url('./img/gamesMain.png');
  background-size: 36px 36px;
}
.catalogGames__games-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalogGames__games-item-left {
  display: flex;
}
.catalogGames__games-item-left_2 {
  margin: 25px 0;
}
.catalogGames__games-item-left-img {
  cursor: pointer;
  border-radius: 12px;
  width: 36px;
  height: 36px;
  background-size: 36px 36px;
}
.catalogGames__games-item-left-img_1 {
  background-image: url('./img/games1.png');
}
.catalogGames__games-item-left-img_2 {
  background-image: url('./img/games2.png');
}
.catalogGames__games-item-left-img_3 {
  background-image: url('./img/games3.png');
}
.catalogGames__games-item-left-info {
  margin-left: 16px;
}
.catalogGames__games-item-left-info-name {
  color: #2c2d2e;
  font-size: 13px;
  line-height: 20px;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
  font-weight: 700;
}
.catalogGames__games-item-left-info-genre {
  color: #919399;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
}
.catalogGames__top {
  display: flex;
}
.catalogGames__top-titles {
  margin-left: 16px;
}
.catalogGames__top-titles_1 {
  cursor: pointer;
  text-transform: capitalize;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  font-family: Helvetica, Arial, sans-serif;
}
.catalogGames__top-titles_2 {
  cursor: pointer;
  font-size: 13px;
  color: #919399;
  font-weight: 300;
  font-family: Helvetica, Arial, sans-serif;
}
.categories-news {
  display: flex;
  margin-top: 13px;
}
.categories-news__item {
  cursor: pointer;
  margin-right: 20px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  height: 27px;
  color: #2c2d2e;
}
.categories-news__item:hover {
  border-bottom: 2px solid #919399;
}
.categories-news__item_active {
  border-bottom: 2px solid #005ff9 !important;
  color: #005ff9;
  font-weight: 700;
  height: 27px;
}
@media (max-width: 1150px) {
  .categories-news__item {
    font-size: 13px;
    margin-right: 10px;
  }
}
@media (max-width: 960px) {
  .categories-news__item {
    font-size: 10px;
    margin-right: 5px;
  }
}
.covid {
  border-radius: 8px;
  margin-top: 7px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px;
  padding: 12px 20px;
}
.covid__title-top {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  cursor: pointer;
}
.covid__title-top:hover {
  text-decoration: underline;
}
.covid__title-bot {
  cursor: pointer;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #919399;
}
.covid__location {
  display: flex;
  justify-content: space-between;
}
.covid__location-span {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #919399;
  cursor: pointer;
}
.covid__location-span_1 {
  color: #005ff9;
  padding-bottom: 5px;
  border-bottom: 2px solid #005ff9 !important;
}
.covid__location-span_2:hover {
  border-bottom: 2px solid #919399 !important;
}
.covid__location-span_3 {
  margin-right: 80px;
}
.covid__location-span_3:hover {
  border-bottom: 2px solid #919399 !important;
}
.covid__chart {
  height: 80px;
  background-size: 100% 80px;
  background-image: url('./img/chart-covid.png');
}
.covid__footer {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.currency {
  margin-top: 7px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px;
  padding: 7px 20px;
  border-radius: 8px;
}
.currency__top {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.currency__top-item {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.currency__top-item-img {
  margin-right: 4px;
}
.currency__top-item-img_1,
.currency__top-item-img_2 {
  width: 16px;
  height: 16px;
}
.currency__bot {
  display: flex;
  justify-content: space-between;
}
.currency__bot-img {
  width: 7px;
  height: 7px;
}
.currency__bot-span {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #0dc268;
}
.currency__bot-item {
  cursor: pointer;
}
.currency__bot-item-div_1 {
  margin-top: 2px;
}
.currency__bot-item-div_2 {
  margin-top: 2px;
}
.currency__bot-item-div_3 {
  margin-top: -4px;
}
.currency__bot-item_1 {
  margin-left: 11px;
}
.currency__bot-item_2 {
  margin-left: 10px;
}
.footer {
  margin-top: 16px;
  padding: 12px;
}
.footer__img-wrapper {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 4px;
}
.footer__img-wrapper:hover {
  background-color: #a5a7ad36;
}
.footer__title-1,
.footer__title-2 {
  padding: 5px 8px;
  border-radius: 8px;
  cursor: pointer;
  color: #919399;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
}
.footer__title-1:hover,
.footer__title-2:hover {
  background-color: #a5a7ad36;
}
.footer__wrapper-title1 {
  display: flex;
}
.footer__bot {
  display: flex;
  align-items: center;
}
.footer__img {
  opacity: 0.5;
  cursor: pointer;
}
.forecast {
  margin-top: 8px;
  padding: 10px 20px 20px 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px;
}
.forecast__top {
  display: flex;
  justify-content: space-between;
}
.forecast__top :nth-child(1n) {
  cursor: pointer;
}
.forecast__top :nth-child(1n):hover {
  text-decoration: underline;
}
.forecast__top :nth-child(1) {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
}
.forecast__top :nth-child(2) {
  color: #3980db;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.forecast__bot {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.forecast__bot-img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.forecast__bot-div-temp {
  font-size: 24px;
  font-weight: 700;
  margin: 0 10px;
  cursor: pointer;
}
.forecast__bot-rigth-div {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.forecast__bot-rigth-div-item_1 {
  font-size: 15px;
  color: #2c2d2e;
  font-weight: 400;
  cursor: pointer;
}
.forecast__bot-rigth-div-item_2 {
  cursor: pointer;
  margin-top: 5px;
  font-size: 13px;
  color: #919399;
  font-weight: 300;
}
.header {
  padding: 3px 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__registration {
  display: flex;
  align-items: center;
}
.header__registration-title {
  font-family: Helvetica, Arial, sans-serif;
  color: blue;
  margin-right: 5px;
  font-size: 13px;
  font-weight: 400;
  padding: 5px 8px;
  border-radius: 8px;
  text-decoration: none;
}
.header__registration-title:hover {
  background-color: #a5a7ad36;
}
.horoscope {
  display: flex;
  margin-top: 7px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px;
  padding: 12px 20px;
  border-radius: 8px;
}
.horoscope__div-img {
  border-radius: 50%;
  background-color: #0dc268;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.horoscope__text {
  margin-left: 12px;
}
.horoscope__text-main {
  cursor: pointer;
  font-size: 15px;
  line-height: 20px;
}
.horoscope__text-title-bot,
.horoscope__text-title-top {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: #999;
}
.link-to-resource {
  margin-top: 7px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px;
  padding: 12px 20px;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  transition: all 0.5s;
}
.link-to-resource:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}
.link-to-resource__titles {
  margin-left: 16px;
}
.link-to-resource__titles-top {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #2c2d2e;
}
.link-to-resource__titles-bot {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  line-height: 20px;
  font-weight: 400;
  font-size: 13px;
  color: #919399;
}
.link-to-resource-img_1 {
  background-image: url('./img/links/work.png');
}
.link-to-resource-img_2 {
  background-image: url('./img/links/classmates.png');
}
.link-to-resource-img_1 {
  background-image: url('./img/links/work.png');
}
.link-to-resource-img_3 {
  background-image: url('./img/links/vk.png');
}
.link-to-resource-img_4 {
  background-image: url('./img/links/cloud.png');
}
.link-to-resource-img_5 {
  background-image: url('./img/links/tv.png');
}
.link-to-resource-img_6 {
  background-image: url('./img/links/vk.png');
}
.link-to-resource-img_7 {
  background-image: url('./img/links/whirligig.png');
}
.link-to-resource-img_8 {
  background-image: url('./img/links/ali.png');
}
.link-to-resource-img_9 {
  background-image: url('./img/links/geekBreans.png');
}
.link-to-resource-img_10 {
  background-image: url('./img/links/skillbox.png');
}
.main-block {
  margin-top: 5px;
  padding: 0 40px;
  display: grid;
  grid-template-columns: 7.5fr 23.5fr;
}
.main-block__rigth {
  margin-top: 5px;
  margin-left: 20px;
}
.middle-block {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 16fr 7.5fr;
}
.search-string {
  margin-top: 10px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 38px;
}
.search-string__now-looking-for {
  color: #999 !important;
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
  transition: all 0.3s ease;
}
@media (max-width: 960px) {
  .search-string__now-looking-for {
    font-size: 10px;
  }
}
.search-string__now-looking-for-wrapper {
  position: absolute;
  right: 14%;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s ease;
}
.search-string__now-looking-for-wrapper:hover .search-string__now-looking-for-aim {
  text-decoration: underline #005bd1;
}
@media (max-width: 1150px) {
  .search-string__now-looking-for-wrapper {
    right: 24%;
  }
}
@media (max-width: 960px) {
  .search-string__now-looking-for-wrapper {
    right: 34%;
  }
}
.search-string__now-looking-for-aim {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #005bd1;
}
@media (max-width: 960px) {
  .search-string__now-looking-for-aim {
    font-size: 10px;
  }
}
.search-string__input {
  width: calc(99% - 107px);
  padding-right: 48px;
  padding-left: 40px;
  height: 100%;
  font-size: 17px;
  border: 2px solid #ff9e00;
  box-shadow: inset 0px 0px 0px 0px #f69902;
  border-radius: 8px 0 0 8px;
  transition: all 0.5s ease;
  margin-right: 0;
  outline: none;
  font-family: Helvetica, Arial, sans-serif;
}
.search-string__btn {
  cursor: pointer;
  font-size: 17px;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  background-color: #ff9e00;
  height: 100%;
  width: 107px;
  border: none;
  margin-left: 0px;
  border-radius: 0 8px 8px 0;
  transition: box-shadow 0.5s ease;
}
.search-string__btn:hover {
  background: #f69902;
}
.search-string__img {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 11px;
  left: 11px;
}
.search-string:hover .search-string__input {
  box-shadow: inset 0px 0px 0px 1px #f69902;
}
.search-string:focus-within .search-string__now-looking-for-wrapper {
  display: none;
}
.notification {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  background-color: orange;
  align-items: center;
}
.notification__left {
  display: flex;
  align-items: center;
}
.notification__left-span {
  margin: 0 30px;
  transition: all 0.5s ease;
}
@media (max-width: 1150px) {
  .notification__left-span {
    margin: 0 20px;
    font-size: 10px;
  }
}
.notification__right span:nth-child(2) {
  margin: 0 30px 0 5px;
  cursor: pointer;
}
.notification__right span:nth-child(1) {
  cursor: pointer;
}
.round-btn-mail {
  background-color: #005ff9;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
  border: none;
  text-align: center;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 13px;
}
.round-btn-mail:hover {
  background-color: #005CF1;
}
.round-btn-mail_header {
  padding: 0;
  text-align: center;
  width: 58px;
  height: 28px;
  border-radius: 10px;
}
.hr-page {
  opacity: 0.2;
}
.hr-page_covid {
  margin-top: 13px;
}
.hr-page_categories {
  margin-top: 0;
}
.hr-page_catalogGames {
  margin-top: 16px;
}
.hr-page_covid-2 {
  margin-top: 0px;
}
.hr-page_articles {
  opacity: 0.4;
  margin-top: 0px;
}
.menu-1__titles-ul {
  display: flex;
  margin: 5px 0 0 0;
  padding-left: 0;
  align-items: center;
}
.menu-1__titles-ul li a {
  color: #2c2d2e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.menu-1__titles-ul li a:hover {
  background-color: #a5a7ad36;
}
.menu-1__titles-ul li {
  text-decoration: none;
  list-style-type: none;
}
.menu-1__titles-ul li:first-child a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.menu-1__titles-ul li:last-child a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 8px;
}
.menu-1__app-dots {
  opacity: 0.3;
  width: 20px;
  height: 24px;
  margin-left: 5px;
}
@media (max-width: 1150px) {
  .menu-1__titles-ul li a {
    margin-right: 3px;
    font-size: 10px;
    margin-right: 10px;
    padding: 2px 2px;
  }
}
.mail-block {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px;
}
.mail-block__img {
  border-radius: 8px 8px 0 0;
  height: 68px;
  background-image: url('./img/mail-img.png');
  background-size: 100% 68px;
}
.mail-block__content {
  padding: 10px 20px 20px 20px;
}
.mail-block__content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mail-block__content-top-icons {
  display: flex;
  align-items: center;
  margin-right: -7px;
}
.mail-block__content-top-icons-item {
  cursor: pointer;
  margin: 0 6px;
}
.mail-block__content-top-title {
  color: blue;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: 14px;
  cursor: pointer;
}
.mail-block__content-top-title:hover {
  text-decoration: underline;
}
.mail-block__input {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 4.5fr 2.5fr;
}
.mail-block__input-item {
  width: 100%;
}
.mail-block__input-item_2 {
  height: 100%;
  padding: 4px 5px;
}
.mail-block__input-item_1 {
  padding: 4px 5px;
}
.mail-block__password {
  margin-top: 8px;
}
.mail-block__btn-password {
  padding: 8px 15px;
  font-weight: 300;
  border-radius: 4px;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.mail-block__btn-password-img {
  margin-left: 5px;
}
.mail-block__footer-btn2-div {
  margin-top: 8px;
}
.mail-block__footer-btn1,
.mail-block__footer-btn2 {
  width: 100%;
  border-radius: 8px !important;
  font-size: 13px;
  border: 0;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.mail-block__footer-btn1 {
  background-color: #f0f1f3;
  color: #005ff9;
  padding: 8px;
}
.mail-block__footer-btn1:hover {
  background-color: #cdd1dc;
}
.mail-block__footer-btn2-div {
  margin-top: 8px;
}
.mail-block__remember-password {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.mail-block__remember-password-left span,
.mail-block__remember-password-rigth span {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
}
.mail-block__remember-password-rigth span {
  text-decoration: underline;
  cursor: pointer;
}
.mail-block__remember-password-rigth span:hover {
  text-decoration: none;
}
.mail-block__btn1 {
  background-color: #f0f1f3;
  color: #005ff9;
  padding: 8px;
}
.mail-block__btn1:hover {
  background-color: #cdd1dc;
}
.menu-2 {
  margin-top: -5px;
}
.menu-2__titles-item {
  cursor: pointer;
  color: #005bd1;
  margin-left: 24px;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
}
.menu-2__titles-item:first-child {
  margin-left: 0;
}
.menu-2__titles-item:hover {
  text-decoration: underline;
}
.menu-2__titles-item_active {
  font-weight: 700;
}
.transparent-btn {
  width: 100%;
  border-radius: 8px !important;
  font-size: 13px;
  border: 0;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #f0f1f3;
  color: #005ff9;
  padding: 8px;
}
.transparent-btn:hover {
  background-color: #cdd1dc;
}
.news-block__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
}
.news-block__titles_top {
  margin-left: 0;
  color: #005bd1;
}
.news-block__titles:hover .news-block__titles_top {
  text-decoration: underline;
}
.news-block__titles_bot {
  color: #2c2d2e;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  text-overflow: ellipsis;
}
.news-block__main {
  display: flex;
}
.news-block__main-img {
  height: 48px;
  width: 64px;
  border-radius: 4px;
  background-image: url('./img/bayden.jpg');
  background-size: 64px 48px;
}
.news-block__news-list-ul {
  margin: 10px 0 0 0;
  padding: 0;
}
.news-block__news-list-ul-wrapper {
  display: flex;
  align-items: center;
}
.news-block__news-list-ul-wrapper-a1 {
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  line-height: 16px;
  color: #2c2d2e !important;
  text-decoration: none;
  vertical-align: bottom;
  margin-right: 5px !important;
}
.news-block__news-list-ul-wrapper-a1:hover {
  text-decoration: underline;
}
.news-block__news-list-ul-item {
  margin-left: 4px;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  list-style-type: none;
}
.news-block__news-list-ul-item a {
  text-decoration: none;
  color: #005bd1;
}
.news-block__news-list-ul-item a:hover {
  text-decoration: underline;
}
body {
  min-width: 1290px;
  font-family: Arial, Helvetica, sans-serif;
}
.adv-big {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
}
.adv-big:hover {
  box-shadow: 2px 8px 19px rgba(0, 0, 0, 0.6);
}
.adv-big__img {
  height: 164px;
  background-image: url('./img/adv.png');
  background-size: 100%  164px;
  border-radius: 8px 8px 0 0 ;
}
.adv-big__text {
  padding: 0 16px;
  margin-top: 10px;
}
.adv-big__title1 {
  word-break: break-word !important;
  font-weight: bold!important;
  color: #000 !important;
  font-size: 17px;
  font-family: Helvetica, Arial, sans-serif;
}
.adv-big__title2 {
  font-family: Helvetica, Arial, sans-serif;
  color: #000 !important;
  font-size: 15px!important;
}
.adv-big__footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.adv-big__footer span:nth-child(1) {
  font-size: 11px;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
}
.adv-big__footer span:nth-child(2) {
  font-size: 11px;
  color: #999;
  font-family: Helvetica, Arial, sans-serif;
}
.articles {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.articles__titles {
  display: flex;
  font-size: 15px;
}
.articles__titles-puls-span {
  color: #005ff9;
  font-weight: 700;
  cursor: pointer;
}
.articles__titles-puls-span:hover {
  text-decoration: underline;
}
.articles__category {
  margin-left: 40px;
  display: flex;
}
.articles__category-item {
  cursor: pointer;
}
.articles__category-item_recommendation {
  padding-bottom: 8px;
  margin-right: 20px;
  color: #005ff9;
  font-weight: 700;
  border-bottom: 2px solid #005ff9;
}
.articles-section {
  margin-top: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.article {
  position: relative;
  border-radius: 8px;
  transition: box-shadow 0.5s;
  cursor: pointer;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.08);
  width: 300px;
  height: 300px;
}
.article:hover {
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.3);
}
.article:hover .article__cansel-img {
  opacity: 1;
}
.article__img {
  border-radius: 8px 8px 0 0;
  height: 168px;
  width: 100%;
  background-size: cover;
}
.article__img_1 {
  background-image: url("https://pulse.imgsmail.ru/imgpreview?key=pic1073486650600467694&mb=pulse&stream_id=lenta_main_mail_ru_v1&crop=fd&fu=1&h=208&w=388");
}
.article__img_2 {
  background-image: url('https://pulse.imgsmail.ru/imgpreview?key=pic7687525079289623913&mb=pulse&stream_id=lenta_main_mail_ru_v1&crop=fd&fu=1&h=208&w=388');
}
.article__img_3 {
  background-image: url('https://webpulse.imgsmail.ru/imgpreview?key=pulse_cabinet-image-809000bb-7c8f-44ae-a68d-c479f07ac420&mb=webpulse&stream_id=lenta_main_mail_ru_v1&crop=fd&fu=1&h=208&w=388');
}
.article__img_4 {
  background-image: url('https://pulse.imgsmail.ru/imgpreview?key=pic8716402849730254769&mb=pulse&stream_id=lenta_main_mail_ru_v1&crop=fd&fu=1&h=208&w=388');
}
.article__img_5 {
  background-image: url('https://pulse.imgsmail.ru/imgpreview?key=pic6752052024824494104&mb=pulse&stream_id=lenta_main_mail_ru_v1&crop=fd&fu=1&h=208&w=388');
}
.article__img_6 {
  background-image: url('https://webpulse.imgsmail.ru/imgpreview?fr=srchimg&key=pulse_cabinet-file-440e7f7d-2cce-4a9d-a1b5-e4039a2911f4&mb=webpulse&stream_id=lenta_main_mail_ru_v1&crop=fd&fu=1&h=208&w=388');
}
.article__cansel-img {
  width: 16px;
  height: 16px;
  background-size: cover;
  background-image: url('../../img/4.png');
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  opacity: 0;
  transition: all 0.5s;
}
.article__title {
  color: #2c2d2e;
  padding: 0 16px;
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}
.article__bot {
  padding: 0 16px;
  margin-top: 30px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 90%;
}
.article__bot-amount {
  font-size: 13px;
  line-height: inherit;
  color: #2c2d2e;
}
.article__bot-amount_likes {
  margin-left: 10px;
}
.article__bot-category {
  font-size: 11px;
  text-transform: uppercase;
  color: #2c2d2e;
  white-space: nowrap;
}
.article__bot-category:hover {
  text-decoration: underline;
}
.article__bot-category_sport {
  color: #005bd1;
}
.article__bot-likes {
  align-items: center;
  display: flex;
}
.heart {
  width: 9px;
  height: 9px;
  background-color: #A5A7AD;
  transform: rotate(45deg);
  position: relative;
  margin-left: 30px;
}
.heart:hover {
  background-color: red;
}
.heart:hover:before,
.heart:hover:after {
  background-color: red;
}
.heart:before,
.heart:after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  background-color: #A5A7AD;
  border-radius: 50%;
  position: absolute;
}
.heart:before {
  top: -4.5px;
  left: 0;
}
.heart:after {
  top: 0;
  left: -4.5px;
}
.test:hover {
  fill: 'black';
}
.comments {
  margin-left: 20px;
}
.comments:hover {
  fill: black;
}
